@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-normal {
   font-family: "Fira Sans", serif;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;

}

/* nav style */

body nav {
   max-width: 1031px;
   max-height: 64px;
}

.nav-box {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 15px 102px;
}

.nav-header {
   color: rgb(14, 14, 14);
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0%;
   text-align: left;
}

/* shared style */

.nav-btn , .banner-btn{
   color: rgb(0, 106, 80);
   font-family: "Fira Sans", serif;
   font-size: 11px;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0%;
   text-align: left;
   border: 1px solid rgb(0, 106, 80);
   border-radius: 4px;
   padding: 10px 19px;

}

/* banner style */

.banner {
   display: flex;
   max-width: 819px;
   max-height: 358px;
   border-radius: 14px;
   background: rgb(198, 228, 214);
   margin: auto;
   margin-top: 28px;

}

.banner>.banner-content {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 51px 37px;
   gap: 40px;
}

.banner-subtitle {
   color: rgba(14, 14, 14, 0.5);
   font-size: 14px;
   font-weight: 500;
   line-height: 18px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 9px;
}

.banner-title {
   color: rgb(14, 14, 14);
   font-size: 35px;
   font-weight: 700;
   line-height: 42px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 14px;
}

.banner-btn {
   border-radius: 8px;
   background: rgb(0, 106, 80);
   color: rgb(255, 255, 255);
}
.banner-image {
   max-width: 303px;
   max-height: 253px;
   
}