@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-normal {
   font-family: "Fira Sans", serif;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;

}

/* nav style */

.nav-box {
   width: 819px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: auto;
   margin-top: 15px;
}

.nav-header {
   color: rgb(14, 14, 14);
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0%;
   text-align: left;
}

/* shared style */
.vision,
.r-news,
.donate,
.n-letter,
.footer-content {
   width: 819px;
   margin: auto;
   margin-top: 51px;
}

.nav-btn,
.banner-btn,
.card-btn,
.news-btn,
.donate-btn,
.taka :hover {
   cursor: pointer;
}

.nav-btn,
.banner-btn,
.news-btn,
.donate .donate-btn {
   color: rgb(0, 106, 80);
   font-size: 11px;
   font-weight: 600;
   line-height: 13px;
   letter-spacing: 0%;
   text-align: left;
   border: 1px solid rgb(0, 106, 80);
   border-radius: 4px;
   padding: 10px 19px;

}

/* banner style */

.banner {
   display: flex;
   width: 819px;
   height: 358px;
   border-radius: 14px;
   background: rgb(198, 228, 214);
   margin: auto;
   margin-top: 28px;

}

.banner>.banner-content {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 51px 37px;
   gap: 40px;
}

.banner-subtitle {
   color: rgba(14, 14, 14, 0.5);
   font-size: 14px;
   font-weight: 500;
   line-height: 18px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 9px;
}

.banner-title {
   color: rgb(14, 14, 14);
   font-size: 35px;
   font-weight: 700;
   line-height: 42px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 14px;
}

.banner-btn {
   border-radius: 8px;
   background: rgb(0, 106, 80);
   color: rgb(255, 255, 255);
}

.banner-image {
   width: 303px;
   height: 253px;

}

/* vision style */


.vision-title {
   color: rgb(14, 14, 14);
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 15px;
}

.vision-description {
   color: rgba(14, 14, 14, 0.7);
   font-size: 10px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 20px;
}

.vision-cards {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   gap: 15px;
}

.vision-card {
   width: 262px;
   /* height: 208px; */
   height: 200px;
   padding: 24px;
   border-radius: 10px;

}

.vision-card .card-icon {
   width: 39px;
   height: 39px;
   margin-bottom: 16px;
}

.vision-card h5 {
   width: 221px;
   color: rgba(14, 14, 14, 0.8);
   font-size: 13px;
   font-weight: 700;
   line-height: 18px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 7.5px;
}

.vision-card p {
   width: 221px;
   color: rgba(14, 14, 14, 0.7);
   font-size: 9px;
   font-weight: 400;
   line-height: 18px;
   letter-spacing: 0%;
   text-align: left;

}

/*vision cards colors */

.vision-cards .a {
   background: rgba(84, 144, 245, 0.2);
}

.vision-cards .b {
   background: rgb(198, 228, 214);
}

.vision-cards .c {
   background: rgb(247, 235, 207);
}

.card-btn {
   border-radius: 5px;
   color: rgb(255, 255, 255);
   font-size: 10px;
   font-weight: 600;
   line-height: 11px;
   letter-spacing: 0%;
   text-align: left;
   border: none;
   padding: 7px 12px 7px 12px;
}

.vision-cards .a .card-btn {
   background: rgb(84, 144, 245);
   margin-top: 16px;
}

.vision-cards .b .card-btn {
   background: rgb(9, 161, 92);
   margin-top: 36px;
}

.vision-cards .c .card-btn {
   background: rgb(255, 194, 57);
   margin-top: 36px;
}

/* Dr. Yunus style */

.dr-yunus {
   margin-top: 20px;
   border: 1px solid rgba(14, 14, 14, 0.15);
   border-radius: 12px;
   background: rgb(255, 255, 255);
   background-image: url('../assets/quote-bg.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding: 30px 15px;
}

.quotation {
   color: rgba(14, 14, 14, 0.8);
   font-size: 11px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: left;
}

.dr-yunus h6 {
   color: rgba(14, 14, 14, 0.8);
   font-size: 12px;
   font-weight: 600;
   line-height: 16px;
   letter-spacing: 0%;
   text-align: left;
}

.dr-yunus p {
   color: rgba(14, 14, 14, 0.6);
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: left;
}

/* news section style */



.r-news-title {
   color: rgb(14, 14, 14);
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 15px;
}

.r-news-description {
   color: rgba(14, 14, 14, 0.7);
   font-size: 10px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 20px;
}

.news-box {
   border-radius: 15px;
   background: rgb(242, 247, 252);
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 15px;
   padding: 30px;
   gap: 20px;
}

.news-box-image img {
   width: 261px;
   height: 195px;
   border-radius: 15px;
}

.news-box .news h3 {
   color: rgba(14, 14, 14, 0.8);
   font-size: 20px;
   font-weight: 700;
   line-height: 23px;
   letter-spacing: 0%;
   text-align: left;
   margin-bottom: 8px;
}

.news-box .news img {
   width: 85px;
   height: 25px;
}

.news-box .news .time {
   margin: 8px 0;
}

.news-box .news p {
   color: rgba(14, 14, 14, 0.7);
   font-size: 10.2px;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0%;
   text-align: left;
}

/* donate section style */

/* shared style */
.donate .donate-btn,
.news-btn {
   background: rgb(0, 106, 80);
   color: rgb(255, 255, 255);
   font-size: 11px;
   font-weight: 600;
   line-height: 12px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 20px;
}

.donate .donate-title {
   color: rgb(14, 14, 14);
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: center;
}

.donate .donate-description {
   color: rgba(14, 14, 14, 0.7);
   font-size: 10.2px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: center;
   padding: 15px 56px 20px;
}

.taka-box {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   padding: 20px 66px;
}

.taka-box .taka {
   border: 1px solid rgba(14, 14, 14, 0.15);
   border-radius: 10.2px;
   background: rgb(255, 255, 255);
}

.taka-box .taka h2 {
   color: rgba(14, 14, 14, 0.8);
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: left;
   padding: 25px;
}

.taka-box .taka :hover {
   background-color: rgb(198, 228, 214);
   border-radius: 10.2px;
}

.amount-submit {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.amount-submit p {
   width: 660px;
   text-align: center;
   border: none
}

.amount-submit p input {
   border: 1px solid rgba(14, 14, 14, 0.15);
   background: rgb(255, 255, 255);
   padding: 15px 270px;
}

/* news letter section style */

.n-letter {
   border-radius: 15px;
   background: rgb(198, 228, 214);
}

.n-letter-content {
   padding: 51px 64px;
}

.n-letter-title {
   color: rgb(14, 14, 14);
   font-size: 25px;
   font-weight: 700;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: center;
   margin-bottom: 10px;
}

.n-letter-description {
   color: rgba(14, 14, 14, 0.7);
   font-size: 10px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: center;
   margin-bottom: 15px;
}

.subscribe-box {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.subscribe-box p {}

.subscribe-box input {
   padding: 11.2px 25px;
   border-radius: 10px 0 0 10px;
   border: none;
   width: 384px;
   /* display: block; */
   /* margin-bottom: 15px; */
}

.subscribe-box button {
   border-radius: 0px 8px 8px 0px;
   background: rgb(0, 106, 80);
   padding: 12px 22px;
   border: none;
   color: rgb(255, 255, 255);
   font-size: 11px;
   font-weight: 600;
   line-height: 14px;
   letter-spacing: 0%;
   text-align: left;
}

.n-letter .commit-word {
   margin-top: 15px;
}

/* footer style */
.footer-content {
   padding: 32px 0;
}

.footer-title {
   color: rgb(14, 14, 14);
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0%;
   text-align: center;
   margin-bottom: 32px;
}
.footer-content .social-icons {
   text-align: center;
   margin-top: 32px;
}
